{% load i18n %}{% load staticfiles %}<!DOCTYPE html>
<html lang="{{ user.language|default:'en' }}">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %} &middot; {{ SITE_NAME }}</title>
    {% with user.theme|default:"default" as theme %}
    <link rel="stylesheet" href="{% static 'css/themes/'|add:theme|add:'.min.css' %}">
    {% endwith %}
    <link rel="stylesheet" href="{% static 'css/select2.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-formhelpers.css' %}">
    <link rel="stylesheet" href="{% static 'css/ladda-themeless.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/clippy.css' %}" media="all">

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">

    <link href="{% static 'css/visualsearch.css' %}" media="screen" rel="stylesheet" type="text/css"/>
    {% block extracss %}{% endblock %}
</head>
<body>
{% if not nochrome %}
<nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-lg" role="navigation">
    <a class="navbar-brand" href="/">
        <i class="fa fa-archive"></i> {{ SITE_NAME }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        {% trans "Devices" %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if perms.devices.read_device %}
                            <a class="dropdown-item" href="{% url 'device-list' %}">{% trans "Devices" %}</a>
                        {% endif %}
                        {% if perms.devicetypes.read_type %}
                            <a class="dropdown-item" href="{% url 'type-list' %}">{% trans "Devicetypes" %}</a>
                        {% endif %}
                        {% if perms.devices.read_manufacturer %}
                            <a class="dropdown-item" href="{% url 'manufacturer-list' %}">{% trans "Manufacturers" %}</a>
                        {% endif %}
                        {% if perms.devicegroups.read_devicegroup %}
                            <a class="dropdown-item" href="{% url 'devicegroup-list' %}">{% trans "Devicegroups" %}</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'public-device-list' %}">{% trans "Public Devices" %}</a>
                    </div>
                </li>
            {% if perms.devices.read_room or perms.devices.read_building or perms.locations.read_section %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        {% trans "Locations" %}
                    </a>
                    <div class="dropdown-menu">
                        {% if perms.devices.read_room %}
                            <a class="dropdown-item" href="{% url 'room-list' %}">{% trans "Rooms" %}</a>
                        {% endif %}
                        {% if perms.devices.read_building %}
                            <a class="dropdown-item" href="{% url 'building-list' %}">{% trans "Buildings" %}</a>
                        {% endif %}
                        {% if perms.locations.read_section %}
                            <a class="dropdown-item" href="{% url 'section-list' %}">{% trans "Sections" %}</a>
                        {% endif %}
                    </div>
                </li>
            {% endif %}
            {% if perms.mail.read_mailtemplate or perms.users.read_user or perms.network.read_ipaddress or perms.users.read_department or perms.devicetags.read_devicetags %}
                <li class="nav-item dropdown">
                    <a href="{% url 'device-list' %}" class="nav-link dropdown-toggle" data-toggle="dropdown">
                       {% trans "Manage" %}
                    </a>
                    <div class="dropdown-menu">
                        {% if perms.network.read_ipaddress %}
                            <a class="dropdown-item" href="{% url 'ipaddress-list' %}">{% trans "IP-Addresses" %}</a>
                        {% endif %}
                        {% if perms.mail.read_mailtemplate %}
                            <a class="dropdown-item" href="{% url 'mail-list' %}">{% trans "Mailtemplates" %}</a>
                        {% endif %}
                        {% if perms.users.read_user %}
                            <a class="dropdown-item" href="{% url 'user-list' %}">{% trans "Users" %}</a>
                        {% endif %}
                        {% if perms.users.read_department %}
                            <a class="dropdown-item" href="{% url 'department-list' %}">{% trans "Departments" %}</a>
                        {% endif %}
                        {% if perms.devicetags.read_devicetag %}
                            <a class="dropdown-item" href="{% url 'devicetag-list' %}">{% trans "Devicetags" %}</a>
                        {% endif %}
                </li>
            {% endif %}
        </ul>

        {% if user.is_authenticated %}
            {% if perms.devices.read_device %}
                <form method="post" action="{% url 'device-list' %}" class="form-inline">{% csrf_token %}
                    <input id="id_namemodifier" name="namemodifier" type="hidden" value="icontains">
                    <div class="form-group">
                        <div class="input-group input-group-sm" style="width: 200px;">
                            <input id="id_deviceid" name="deviceid" placeholder="{% trans 'Jump to ID' %}"
                                type="text" class="form-control input-sm">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default btn-sm">
                                    <i class="fa fa-rocket"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            {% endif %}
        <ul class="navbar-nav ml-auto">
                <form method="post" action="{% url 'search' %}" class="form-inline my-2">{% csrf_token %}
                    <input id="id_namemodifier" name="namemodifier" type="hidden" value="icontains">
                    <div class="form-group">
                        <div class="input-group input-group-sm" style="width: 200px;">
                            <input id="id_searchname" name="searchname" placeholder="{% trans 'Search for device' %}"
                                    type="text" class="form-control input-sm">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default btn-sm">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
                <li class="nav-item dropdown">
                    <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle
                        {% if user.avatar %}
                            navbar-user">
                                <img class="navbar-avatar img-rounded" src="{{ user.avatar.url }}">
                        {% else %}"
                            >
                        {% endif %}
                        {{ user }}
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'userprofile' %}">
                            <i class="fa fa-user"></i>
                            &nbsp; {% trans "Profile" %}
                        </a>
                        <a class="dropdown-item" href="{% url 'usersettings' %}">
                            <i class="fa fa-cog"></i>
                            &nbsp; {% trans "Settings" %}
                        </a>
                        {% if user.is_staff %}
                            <a class="dropdown-item" href="{% url 'admin:index' %}">
                                <i class="fa fa-lock"></i>
                                &nbsp; {% trans "Admin" %}
                            </a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'logout' %}">
                            <i class="fa fa-sign-out"></i>
                            &nbsp; {% trans "Logout" %}
                        </a>
                    </ul>
                </li>
            {% else %}
                <li id="loginbutton"><a href="{% url 'login' %}" class="button button-success"><i
                        class="fa fa-sign-in"></i> {% trans "Login" %}</a></li>
            {% endif %}
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
{% endif %}
<div class="container">
    <div class="mt-5 mr-auto">
        <h1 style="font-size:1.5em">
            <ol class="breadcrumb">
                {% for crumb in breadcrumbs %}
                    {% if forloop.last %}
                        <li class="breadcrumb-item active">{{ crumb.1 }}</li>
                    {% else %}
                        <li class="breadcrumb-item"><a href="{{ crumb.0 }}">{{ crumb.1 }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if not nochrome %}
                <small class="ml-auto">{% block  pullright %}{% endblock %}</small>
                {% endif %}
            </ol>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-12">{% block content %}{% endblock %}</div>
    </div>
    <div id="footer">
        <div class="float-right">
            powered by <a href="https://github.com/viirus/Lagerregal">Lagerregal</a>
        </div>
    </div>
</div>


<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/popper.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/noty/jquery.noty.js" %}"></script>

<script type="text/javascript" src="{% static 'js/noty/layouts/top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/noty/layouts/topCenter.js' %}"></script>
<script type="text/javascript" src="{% static 'js/noty/layouts/topLeft.js' %}"></script>
<script type="text/javascript" src="{% static 'js/noty/layouts/topRight.js' %}"></script>
<!-- You can add more layouts if you want -->

<script type="text/javascript" src="{% static 'js/noty/themes/default.js' %}"></script>
<script type="text/javascript" language="javascript"
        src="{% static 'js/bootstrap-formhelpers-datepicker.js' %}"></script>
<script type="text/javascript" language="javascript"
        src="{% static 'js/bootstrap-formhelpers-datepicker.en_US.js' %}"></script>

<script type="text/javascript" src="{% static 'js/jquery.timeago.js' %}"></script>
{% if user.language != "en" %}
    <script src="{% static 'js/jquery.timeago.de.js' %}"></script>
{% endif %}

<script type="text/javascript" src="{% static 'js/spin.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ladda.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/clippy.min.js' %} "></script>

{% block htmlend %}{% endblock %}
<script>
    $(document).ajaxSend(function (event, xhr, settings) {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function sameOrigin(url) {
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                    !(/^(\/\/|http:|https:).*/.test(url));
        }

        function safeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    });

    var helper;
    $(document).ready(function() {
        $("#id_searchname").focusin( function() {
            window.setTimeout( function() {
                if ($("#id_searchname").is(":focus")) {
                    if (helper == undefined) {
                        clippy.load('Clippy', function (agent) {
                            helper = agent;
                            helper.show();
                            helper.speak("{% trans "Hi! I am Clippy, your Lagerregal assistant. Would you like some assistance totday?" %}");
                        });
                    }
                } else {
                    helper.animate();
                }
            }, 60000 );
        });

        // mark active when clicking
        $('ul.navbar-nav > li > div > a').click(function (e) {
            $('ul.navbar-nav > li').removeClass('active');
            $(this).parent().parent().addClass('active');
        });
        // mark active on subsequent page load
        $('ul.navbar-nav > li > div > a[href="' + document.location.pathname + '"]').parent().parent().addClass('active');

    });

    {% block scriptend %}{% endblock %}
    {% if messages %}
        $(document).ready(function () {
            {% for message in messages %}
                noty({
                    text: '{{message|safe }}',
                    type: '{{message.tags}}',
                    layout: 'topCenter',
                    timeout: 3000
                });
            {% endfor %}
        });
    {% endif %}

</script>
</body>

</html>
